body
{
    background-color: #eee;
}

.container
{
    /* border: 3px solid;
    width: 500px;
    height: 500px;
    margin-top: 80px;
    background-color: #15172b; */

    background-color:#15172b;
    margin: auto;
    /* width: 50%; */
    font-size:20px;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    border: 5px solid;
    border-radius: 15px;
    margin-top: 60px;
    padding-top: 20px;

}

.form
{
    color: #eee;
    
}

.text
{
    border-radius: 12px;
    width:100%;
    color: #eee;
    background-color: #303245;
}


.title
{
    text-align: center;
    background-color: #303245;
    border-radius: 12px;
}

.subtitle
{
    text-align: center;
}

.submit
{
    margin-top:15px;
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}

.submit:hover
{
    color: #eee;
    background-color: #000;
}

